# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build artifacts
lib-cov/
build/
dist/
.next/
out/
.nuxt/
.vuepress/dist/
.temp/
.cache/
.parcel-cache/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.vscode-test/
**/.vitepress/dist
**/.vitepress/cache

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Caches
.nyc_output/
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Yarn 2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn-integrity
.pnp.*
.pnp/

# Optional npm cache directory
.npm/

# Grunt intermediate storage
.grunt/

# node-waf configuration
.lock-wscript

# Output of `npm pack`
*.tgz

# REPL history
.node_repl_history

# Env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
*.pem

# Misc
.DS_Store

# Vercel
.vercel

# Testing
coverage/

# Gatsby (optional)
# .cache/
# public